.category-main {
  margin-top: 16px;

  border-top: 1px solid;
  border-top-color: rgba($color: #000, $alpha: 0.5);

  width: 100%;
  height: auto;

  .category-container {
    padding: 0;
    display: flex;

    .category-left {
      // background-color: rgb(191, 195, 191);

      .left-catt {
        margin-top: 40px;
        margin-right: 16px;
        width: 217px;
        height: 344px;
        // background-color: red;

        .catt-text-wrapper {
          width: 100%;
          height: 24px;
          margin-bottom: 16px;

          justify-content: space-between;

          .catt-text {
            /* Title/16PX Regular */
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            color: var(--Text2, #000);
          }
        }

        .catt-text {
          /* Title/16PX Regular */
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 150% */
          color: var(--Text2, #000);
          margin-bottom: 16px;
        }
      }
    }

    .category-right {
      margin-top: 40px;
      margin-left: 45px;

      .category-box-wrapper {
        width: 892px;
        height: 344px;

        background: var(--Text2, #000);

        .category-box-left {
          margin-top: 58px;
          margin-left: 64px;
          width: 457px;
          height: 300px;

          // background-color: rgb(165, 128, 128);

          .category-apple-logoText {
            span {
              margin-left: 14px;
              text-align: center;
              font-family: Poppins;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px; /* 150% */
              color: var(--Text, #fafafa);
            }
          }

          .catt-vaucher-text {
            margin-top: 20px;
            width: 294px;
            height: 120px;

            strong {
              -webkit-text-stroke-width: 1px;
              -webkit-text-stroke-color: #000;
              font-family: Inter;
              font-size: 48px;
              font-style: normal;
              font-weight: 600;
              line-height: 60px; /* 125% */
              letter-spacing: 1.92px;
              color: var(--Text, #fafafa);
            }
          }

          .catt-shop-btn {
            margin-top: 22px;

            .catt-shopBtn {
              margin-right: 8px;
              text-align: center;
              font-family: Poppins;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 24px; /* 150% */
              color: var(--Text, #fafafa);
              text-decoration: underline;
            }
          }
        }

        .category-box-right {
          .catt-iphone-logo {
            width: 496px;
            height: 352px;

            // background-color: green;
            display: flex;
            align-items: center;
            justify-content: center;

            .logo-img {
              box-shadow: 0 7px 4px -4px rgb(21, 15, 15);
            }
          }
        }
      }
    }
  }
}
