.home-navbar {
  width: 100%;
  height: 48px;
  background: var(--Button, #000);

  .navbar-container {
    padding: 12px 0;
    .navbar-wrapper {
      width: 100%;
      height: 100%;


      .text-btn {
        .nav-text {
          margin-right: 8px;
          margin-left: 32px;
          width: 424px;
          height: 18px;

          font-family: Poppins;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 21px;
          color: var(--Text, #fafafa);
        }

        .showNow-btn {
          width: 68px;
          height: 24px;

          text-align: center;
          font-family: Poppins;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px; /* 171.429% */
          text-decoration-line: underline;
          text-decoration-style: solid;
          text-decoration-skip-ink: none;
          text-decoration-thickness: auto;
          text-underline-offset: auto;
          text-underline-position: from-font;
          color: var(--Text, #fafafa);
        }
      }

      .lang-change {
        padding: 0;
        width: 78px;
        height: 24px;

        #language-select {
          color: var(--Text, #fafafa);

          /* Title/14PX Regular */
          font-family: Poppins;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 21px; /* 150% */
        }
        .MuiSvgIcon-root path {
          color: var(--Text, #fafafa);

          /* Title/14PX Regular */
          font-family: Poppins;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 21px; /* 150% */
        }
      }
    }
  }
}
